.Container {
  display: flex;
}
.Container > div {
  border: 100px solid rgb(146, 68, 68);
  padding: 10px;
}
.Column1, .Column2, .Column3 {
  flex: 1;
}
.Column1 {
  justify-content: center;
  background-image: url(./components/image/grcode1.jpg);
}
.Column2 {
  justify-content: center;
  background-image: url(./components/image/grcode1.jpg);
}
.Column3 {
  justify-content: center;
  background-image: url(./components/image/grcode1.jpg);
}
@media (max-width: 768px) {
  .Container {
    flex-direction: column;
  }
}
